* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body {
  background: linear-gradient(135deg, #6ebcf0 12%, #6347e3 50%, #1d0952 100%);
}
.Search-container {
  margin-top: 100px;
  text-align: center;
}
.profile {
  color: black;
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: #ddd;
  padding: 20px;
  z-index: 0;
}

.options {
  border: 2px solid #008cba;
  width: 80%;
  margin: 18px auto;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 8px;
}

.form {
  font-size: 16px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #008cba;
  color: #008cba;
  padding: 8px;
  width: 33%;
  margin: auto 12px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: white;
  align-content: stretch;
}
.flex-box {
  width: 30%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 6px 0px rgb(0, 0, 0), 4px 4px 8px 8px rgb(0, 0, 0);
  border-radius: 12px;
}

.flex-box p {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration-line: underline;
}
